
/*This styling is for the modal*/
.modal {
  display:none;
  position:fixed;
  z-index: 1;
  padding-top:100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalContent{
  color: white;
  background-color: black;
  margin: auto;
  border: 3px solid whitesmoke;
  width: 40%;
  font-family: 'Silkscreen', cursive;

}

.close{
  color: white;
  float: right;
  font-weight: bold;
  font-size: 30px;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.endSplash {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

/* This styling is to center the container containing the images with a defined width and hieght as well
as styling for the score, counter, and to fit the images in there respective containers  */


body {
  display:flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/images/space.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}


.container{
  height: 25em;
  width: 25em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: white solid 3px;
}

.imageDiv{
  margin: 0;
  height: 7em;
  width: 7em;
}

.scoreContainer{
  display: flex;
  color: white;
  justify-content: space-between;
  width: 25em;
}

.score{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: 'Silkscreen', cursive;
}
.countdown{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: 'Silkscreen', cursive;
}
img {
  max-width: 100%;
  max-height: 100%;

}

.logo{
  height: 15em;
  width: 50em;
  text-align: center;
  top: 0;
}

/* fancy cursor */
* {cursor: url(https://cur.cursors-4u.net/others/oth-1/oth24.cur), auto !important;}
